@import "src/styles/const.module";

.wrapper {
  background: $mainBg;
  color: #eaeaea;
  padding: 20px;
  display: flex;
  justify-content: center;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  justify-content: space-between;
  max-width: 80vw;
  width: 100%;

  .left {
    display: flex;
    //align-items: center;
    padding-top: 5px;

    img {
      height: 20px
    }
  }

  .right {
    display: grid;
    justify-content: end;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(40px, 60px));
    grid-gap: 10px;
  }

  .burgerMenuIcon {
    //display: flex;
    display: none;
    align-items: center;
    justify-content: end;

    img {
      filter: invert(100%);
      height: 20px;
      width: 20px;
      margin-top: 4px;

    }

  }


  @media screen and (max-width: 820px) {

    .burgerMenuIcon {
      display: flex;
    }

    .container {
      max-width: 100vw;
    }
    .right {
      display: none
    }
  }
}

.burgerMenu {
  background: black !important;
  width: 100%;
  padding: 10px;
  color: $firstTextColor;
  @media screen and (min-width: 820px) {display: none}

  div {
    margin-bottom: 5px;
  }

  position: absolute;

}
