@import "src/styles/const.module";

.wrapper {
  background: $mainBg;
  color: #eaeaea;
  padding: 20px;
  display: flex;
  justify-content: center;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  justify-content: space-between;
  max-width: 80vw;
  width: 100%;

  .left {
    display: flex;
    align-items: center;

    img {
      height: 20px
    }
  }

  .right {
    display: grid;
    justify-content: end;
    grid-template-columns: repeat(auto-fit, minmax(40px, 60px));
    grid-gap: 10px;
  }
}