@import "src/styles/const.module";
@import "mixins.module";





.wrapper {
  background: $mainBg;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  color: $firstTextColor;
  max-width: 396px;
  width: 100%;
  margin: 10px;

  h1 {
    font-size: 38px;
    margin: 48px 0;
  }
}

.btnContainer {
  img {
    height: 18px;
    margin-right: 8px;
  }

  div {
    @include buttonSt;
  }

  div:first-of-type {
    background: $firstTextColor;
    color: black;

    img {
      background: black;
      filter: invert(100%);
    }
  }

  div:last-of-type {
    background: $secondTextColor;
  }
}

.orBlock {
  display: flex;
  justify-content: space-between;
  margin: 32px 0;
  align-items: center;


  &::before, &::after {
    display: block;
    content: '';
    flex-grow: 1;
    background: $greyText;
    height: 2px;
  }

  &::before {
    margin-right: 16px;
  }

  &::after {
    margin-left: 16px;
  }

}

.inputWrapper {
  div {
    font-size: 14px;
    margin-bottom: 8px;
    font-weight: bold;
  }

  input {@include inputStyle()}
}

.btn {
  @include buttonSt;
  background: $secondTextColor;
  margin: 0;
}

.errBlock {
  text-align: center;
  margin: 16px 0;
  font-size: 16px;
  font-weight: bold;
  color: $secondTextColor;
}


.divider {
  background: $greyText;
  height: 2px;
  margin: 2.5em 0;
}


.authLink {
  text-align: center;
  font-weight: bold;
  font-size: 16px;

  span {
    color: $secondTextColor;
    text-decoration: underline;
    cursor: pointer;
  }
}