@import "src/styles/const.module";

@mixin buttonSt {
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
  padding: 12px 16px;
  justify-content: center;
  border-radius: 5px;
  margin: 12px 0 24px;
}


.wrapper {
  background: $mainBg;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  color: $firstTextColor;
  max-width: 396px;
  width: 100%;
  margin: 10px;

  h1 {
    font-size: 38px;
    margin: 48px 0;
  }
}

.btnContainer {
  img {
    height: 18px;
    margin-right: 8px;
  }

  div {
    @include buttonSt;
  }

  div:first-of-type {
    background: $firstTextColor;
    color: black;

    img {
      background: black;
      filter: invert(100%);
    }
  }

  div:last-of-type {
    background: $secondTextColor;
  }
}

.orBlock {
  display: flex;
  justify-content: space-between;
  margin: 32px 0;
  align-items: center;


  &::before, &::after {
    display: block;
    content: '';
    flex-grow: 1;
    background: $greyText;
    height: 2px;
  }

  &::before{
    margin-right: 16px;
  }
  &::after{
    margin-left: 16px;
  }

}

.inputWrapper{
  div {
    font-size: 14px;
    margin-bottom: 8px;
    font-weight: bold;
  }
  input{
    width: 100%;
    padding: 12px 14px;
    background: #606060;
    outline: none;
    border-radius: 5px;
    margin-bottom: 3em;
    box-shadow: none;
    border: none;
    color: $firstTextColor;
    font-size: 14px;
    font-weight: 500;

    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active{
      -webkit-box-shadow: 0 0 0 33px #606060 inset !important;
    }


  }
}

.btn{
  @include buttonSt;
  background: $secondTextColor;
  margin: 0 ;
}

.errBlock{
  text-align: center;
  margin: 16px 0;
  font-size: 16px;
  font-weight: bold;
  color: $secondTextColor;
}


.divider{
  background: $greyText;
  height: 2px;
  margin: 2.5em 0;
}


.authLink{
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  span{
    color: $secondTextColor;
    text-decoration: underline;
    cursor: pointer;
  }
}