@import "const.module";

@mixin buttonSt {
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
  padding: 12px 16px;
  justify-content: center;
  border-radius: 5px;
  margin: 12px 0 24px;
}

@mixin inputStyle {
  width: 100%;
  padding: 12px 14px;
  background: #606060;
  outline: none;
  border-radius: 5px;
  margin-bottom: 3em;
  box-shadow: none;
  border: none;
  color: $firstTextColor;
  font-size: 14px;
  font-weight: 500;

  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 33px #606060 inset !important;
  }


}