@import "src/styles/const.module";
@import "mixins.module";

.mainWrapper {
  padding: 10px;
}

.userName {
  color: rgb(158, 158, 158);
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

.appHeader {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  h1{
    margin-bottom: 10px;
  }

  div {
    display: flex;
    width: max(40vw ,320px);
    justify-content:  flex-end ;

    input {
      @include inputStyle();

      margin: 0 20px 0 0 ;

    }

    div {
      color: $firstTextColor;
      max-width: 144px;
      justify-content: center;
      align-items: center;
    }
  }

}

.appContainer {
  margin-top: 20px;
  .appImp {
    border-top: 2px  solid #eeeeee;
    border-right: none;
    border-left: none;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;

    &:last-of-type{
      border-bottom: 2px  solid #eeeeee;
    }
  }
}