@import 'src/styles/const.module';

.wrapper{
  background: $mainBg;
  color: $secondBg;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  //header height
  min-height: calc(100vh - 79px);

  .imgWrapper{
    img{height: 50px}
  }

  h1{
    font-size: 56px;
    max-width: 30vw;
    text-align: center;
    margin-bottom: 15px;
  }
  h2 {
    font-size: 18px;
    margin-bottom: 20px;

  }
  video{
    height: 380px;
  }
}

.buttons{
  max-width: 400px;
  justify-content: center;
  display: grid;
  grid-gap: 40px;
  margin-bottom: 30px;
  grid-template-columns: repeat(auto-fit, minmax(100px, 200px));
}