.wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 10px;
  h1{
    max-width: 500px;
    font-size: 29px;
    margin-bottom: 50px;
    line-height: 40px;
    font-weight: 600;
  }
  p:first-of-type{
font-weight: 600;
    margin-bottom: 10px;
  }

  //@media screen and (max-width: 700px){
  //  padding: 80px 10px;
  //}
}

.stats{
  max-width: 540px;
  width: 100%;
  display: flex;
  justify-content: center;

  flex-wrap: wrap;
  //display: grid;
  //grid-template-columns: repeat(auto-fill, minmax(165px,1fr));
  //grid-gap: 1em;
  //grid-auto-flow: row dense;

}