.wrapper{
display: flex;
  justify-content: center;
  text-align: center;
  padding: 70px 0 0px;
}

.container{
  max-width: 740px;
  h2{
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 50px;
  }

  .ingWrapper{
    max-height: 200px;
    padding-left: 24px;
    img{max-height: 200px}
  }
}