@import "src/styles/const.module";

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: $mainBg ;
  color:$firstTextColor;
  padding-bottom: 100px;



  h2{
    font-size: 42px;
    line-height: 52px;
    max-width: 730px;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    &::before{
      content: '';
      display: block;
      width: 2px;
      height: 100px;
      background: $secondTextColor;
      align-self: center;
      margin: 30px 0;
    }
  }

  p{
    color:$greyText
  }
}

.buttonWrapper{

  margin-top: 35px;
  max-width: 200px;
  width: 100%;
}
