@import "src/styles/const.module";

.wrapper {
  display: flex;
  max-width: 936px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.content {
  max-width: 400px;

  h3 {
    color: $secondTextColor;
    font-size: 24px;
    margin-bottom: 10px;
  }

  h2 {
    color: $firstTextColor;
    font-size: 32px;
    margin-bottom: 10px;

  }
}

.benefitItem {
  color: $firstTextColor;
  margin: 15px 0 20px;
  font-size: 16px;
  line-height: 28px;
  p{
    color: rgba(255, 255, 255, 0.46);
  }
}

.imgWrapper {
  img {
    max-height: 280px;
  }
}