.wrapper {
  display: flex;
  margin-bottom: 32px;
  padding: 0 10px;
  width: min(180px, 100%);
  justify-content: center;
}

.left {
  margin-right: 10px;

  img {
    height: 36px;
    width: 36px;
  }
}

.right {
  h2 {
    font-size: 22px;
  }

  p {
    font-size: 16px;
    font-weight: 500
  }
}